<p id="notice"><%= notice %></p>

<h1>Efficacies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @efficacies.each do |efficacy| %>
      <tr>
        <td><%= link_to 'Show', efficacy %></td>
        <td><%= link_to 'Edit', edit_efficacy_path(efficacy) %></td>
        <td><%= link_to 'Destroy', efficacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Efficacy', new_efficacy_path %>
