<h2 class="ui dividing header">修改药方</h2>
<%= simple_form_for [@prescription], url: work_prescription_path, method: :put, remote: true do |f| %>
   <div class="two fields">
      <%= f.input :name, required: false  %>
      <%= f.input :diseases_list %>
    </div>
    <div class="two fields">
      <%= f.input :detail %>
      <%= f.input :note %>
    </div>
<% end %>
<div class="actions">
  <div class="ui button" onclick="javascript: $('#edit_prescription_modal').modal('hide')">取消</div>
  <div class="ui blue button" onclick="javascript: $('#edit_prescription_<%= @prescription.id %>').submit();" >确定</div>
</div>