<% if @q.present? %>
  <div class="ui blue segment">
    <%= simple_form_for @q,  url: work_medicines_path, method: :get, wrapper: 'semantic_search_form' do |f| %>
      <div class="ui five column grid">
        <%= f.input 'name-like', placeholder: '药名' %>
        <%= f.input 'diseases_list-like', placeholder: '病理' %>
        <%= f.input 'efficacie_list-like', placeholder: '药理' %>
        <div class="column">
          <%= f.submit '搜索', class: 'ui primary button' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
