<p id="notice"><%= notice %></p>

<h1>Prescription Details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescription_details.each do |prescription_detail| %>
      <tr>
        <td><%= link_to 'Show', prescription_detail %></td>
        <td><%= link_to 'Edit', edit_prescription_detail_path(prescription_detail) %></td>
        <td><%= link_to 'Destroy', prescription_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription Detail', new_prescription_detail_path %>
